<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../../../favicon.ico"/>

    <title th:text="${title}"></title>

    <link rel="stylesheet" th:href="@{/materia/bootstrap.min.css}">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/customs.css}">

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/Chart.min.js}"></script>
    <script th:src="@{/js/tilt.jquery.min.js}"></script>
    <script th:src="@{/js/custom.js}"></script>

</head>
<body>

<header th:replace="fragments/header :: header"></header>

<div layout:fragment="content">

</div>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>
