<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head></head>
<body>

    <div layout:fragment="content">

        <div class="container">

            <div class="latestSharePriceAllContent">
                <div class="searchCompanyInfo">
                    <form class="form-inline my-2 my-lg-0" action="/companies" method="get">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" name="name"/>
                        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
                <div class="latestSharePriceTable">
                    <table class="table table-bordered ">
                        <thead class="thead-dark">
                        <tr>
                            <th>Company Name</th>
                            <th>Trading Code</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="company : ${companies}">
                            <td th:text="${company.companyName}"></td>
                            <td th:text="${company.tradingCode}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</body>
</html>