<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head></head>
<body>

    <div layout:fragment="content">

        <div class="container">
            <div class="jumbotron mySpace">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut blanditiis dolor dolorem earum fuga
                    fugiat necessitatibus sunt tenetur. Sequi, sint.</p>

            </div>
        </div>

    </div>

</body>
</html>